<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="grid">

      <div class="col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" responsiveLayout="stack" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-header">Nome</th>
            <th class="col-header">Cidade</th>
            <th class="col-header">Estado</th>
            <th class="col-header">Status</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td><span class="p-column-title">Nome</span>{{pessoa.nome}}</td>
            <td><span class="p-column-title">Cidade</span>{{pessoa.cidade}}</td>
            <td><span class="p-column-title">Estado</span>{{pessoa.estado}}</td>
            <td><span class="p-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="alterarStatus(pessoa)">
                {{ pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]" routerLinkActive="router-link-active" ></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <div class="col-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>
</div>

