<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton name="tipo" [options]="tipos" formControlName="tipo"></p-selectButton>
      </div>

      <div class="p-fluid md:col-3 col-6">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" formControlName="dataVencimento" [showButtonBar]="true"></p-calendar>
        <app-message [control]="formulario.get('dataVencimento')" error="required" text="Informe uma data de vencimento"></app-message>
      </div>
      <div class="p-fluid md:col-3 col-6">
        <label>{{ formulario.get('tipo')?.value }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" formControlName="dataPagamento" [showButtonBar]="true"></p-calendar>
      </div>
      <div class="p-fluid md:col-9 col-12">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">
        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe uma descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao')?.errors?.['tamanhoMinimo']?.tamanho }} caracteres"></app-message>
      </div>
      <div class="p-fluid md:col-3 col-12">
        <label>Valor</label>
        <p-inputNumber name="valor" mode="currency" currency="BRL" placeholder="R$ 0,00"
          locale="pt-BR" [min]="0.00" formControlName="valor"></p-inputNumber>
      </div>
      <div class="p-fluid md:col-6 col-12" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias" placeholder="Selecione" formControlName="codigo"></p-dropdown>
      </div>
      <div class="p-fluid md:col-6 col-12" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" [filter]="true" formControlName="codigo"></p-dropdown>
      </div>
      <div class="p-fluid col-12">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" formControlName="observacao"></textarea>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || formulario.get('valor')?.value"></button>
        <button pButton type="button" label="Novo" class="p-button-info" (click)="novo()"></button>
        <a routerLink="/lancamentos" routerLinkActive="router-link-active" >Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
