<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton name="tipo" [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
      </div>

      <div class="p-fluid md:col-3 col-6">
        <label>Vencimento</label>
        <p-calendar name="dataVencimento" dateFormat="dd/mm/yy" [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel" [required]="true"></p-calendar>
        <app-message [control]="vencimento.control" error="required" text="Informe uma data de vencimento"></app-message>
      </div>
      <div class="p-fluid md:col-3 col-6">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showClear]="true" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>
      <div class="p-fluid md:col-9 col-12">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao"
          #descricao="ngModel" required minlength="5">
        <app-message [control]="descricao.control" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao.control" error="minlength" text="Mínimo de {{ descricao.errors?.['minlength']?.requiredLength }} caracteres"></app-message>
      </div>
      <div class="p-fluid md:col-3 col-12">
        <label>Valor</label>
        <p-inputNumber name="valor" mode="currency" currency="BRL" placeholder="R$ 0,00"
          locale="pt-BR" [min]="0.00" #valor [(ngModel)]="lancamento.valor"></p-inputNumber>
      </div>
      <div class="p-fluid md:col-6 col-12">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias" placeholder="Selecione"
          #categoria="ngModel" [required]="true" [(ngModel)]="lancamento.categoria.codigo"></p-dropdown>
      </div>
      <div class="p-fluid md:col-6 col-12">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" [filter]="true"
          #pessoa="ngModel" [required]="true" [(ngModel)]="lancamento.pessoa.codigo"></p-dropdown>
      </div>
      <div class="p-fluid col-12">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid || valor.value == null"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a routerLink="/lancamentos" routerLinkActive="router-link-active" >Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
